<%- include('header.ejs') -%>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-12 m-auto">
          <div class="card card-body">
            <h1 class="text-center mb-3">
              <i class="fas fa-user-plus"></i> Edit Milestone
            </h1>
            <%-include('messages')-%>
            <form method="post" action="/editmilestone/<%= milestone._id %>" >
                <input type="hidden" name="_id" value="<%= milestone.id %>">
                <div class="form-row">
                  <div class="col">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" placeholder="Name"  name="name" value="<%= milestone.name %>" disabled required>
                  </div>
                  <div class="col">
                    <label for="">total units</label>
                    <input type="number" class="form-control" placeholder="units" name="units" value="<%= milestone.units %>" required>
                  </div>
                  <div class="col">
                    <label for="">ROI</label>
                    <input type="number" class="form-control" placeholder="ROI" name="rate" value="<%= milestone.rate %>"required>
                  </div>
                  
                </div>
                <br>
                <div class="form-row">
                 
                  <div class="col">
                    <label for="">starting time</label>
                    <input type="time" class="form-control" placeholder="starting time" name="starttime"value="<%= milestone.starttime %>" required>
                  </div>   
                  <div class="col" >
                    <label for="">due time</label>
                    <input type="time" class="form-control" placeholder="due time" name="duetime" value="<%= milestone.duetime %>"required>
                  </div>
                  <div class="col" >
                    <label for="">units to be paid</label>
                    <input type="number" class="form-control" placeholder="total units" name="unitstobepaid"value="<%= milestone.unitstobepaid %>" required>
                  </div>
                  </div>
                  <br>
                  <div class="form-row">
                    <div class="col">
                      <label for="given date"> date given</label>
                      <input type="date" class="form-control" name="givendate"value="<%= milestone.givendate %>" required>
                    </div>
                    
                 
                    <div class="col">
                      <label for="given time"> time given</label>
                      <input type="time" class="form-control" placeholder="given time" name="giventime"value="<%= milestone.giventime %>" required>
                    </div>

                    <div class="col">
                      <label for="paymentstatus"> payment status</label>
                      <input type="text" class="form-control" name="paymentstatus"value="<%= milestone.paymentstatus %>" required>
                    </div>
                      
                  </div>
                  <br>
                  <div class="form-row">
                    <div class="col">
                      <label for=""> amount to recover</label>
                      <input type="number" class="form-control" name="recoveramount"value="<%= milestone.recoveramount %>" required>
                    </div>
                    <div class="col">
                      <label for=""> amount left</label>
                    <input type="number" class="form-control" name="amountleft"value="<%= milestone.amountleft %>" required>
                    </div>
                    <div class="col">
                      <label for=""> total installments</label>
                    <input type="number" class="form-control" name="noi"value="<%= milestone.noi %>" required>
                    </div>
                  </div>
                  <br>
                  <div class="form-row">
                    <div class="col">
                      <button type="submit" class="btn btn-primary btn-block">submit</button>
                  </div>   
                  </div>
                  </div>

                  
                  
  <a href="/viewmilestone" >view</a>